.DS_Store
# ===== Remix IDE =====
.deps/
.states/

# ===== Hardhat / Foundry / Solidity build artifacts =====
artifacts/
cache/
out/

# ===== Local environment =====
node_modules/
.env

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Editor =====
.vscode/
.idea/

# ===== Logs =====
*.log

# ==============================
# Foundry build artifacts (all levels)
# ==============================
cache/
out/

# ==============================
# Foundry broadcast logs
# ==============================

# Ignores development broadcast logs
!**/broadcast/
**/broadcast/*/31337/
**/broadcast/**/dry-run/

# ==============================
# Docs
# ==============================
docs/

# ==============================
# Environment files
# ==============================
.env
